/* fonts */

@font-face {
  font-family: "Cuprum";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/cuprum.woff2") format("woff2"),
  url("../fonts/cuprum.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("../fonts/cuprumitalic.woff2") format("woff2"),
  url("../fonts/cuprumitalic.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/cuprumbold.woff2") format("woff2"),
  url("../fonts/cuprumbold.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url("../fonts/cuprumbolditalic.woff2") format("woff2"),
  url("../fonts/cuprumbolditalic.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsans.woff2") format("woff2"),
  url("../fonts/ptsans.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
  url("../fonts/ptsansbold.woff") format("woff");
}

/* global */

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  width: 940px;
}

.button {
  color: #ffffff;
  text-transform: uppercase;
  background-color: #ee3643;
  border: none;
  border-radius: 2px;
}

/* main-header */

.main-header {
  padding: 0 0 60px 0;
  background-color: #f3f7f9;
}

.main-header__wrapper {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 0 0 0 220px;
}

.main-header__top-menu {
  background-color: #293449;
}

.main-header__main-logo {
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px 10px 13px;
  width: 220px;
  height: 47px;
  text-align: center;
  background-color: #ee3643;
  background-image: url("../img/svg/logo-technomart.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 109px 18px;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  transition-duration: 0.3s;
  cursor: pointer;
  outline: none;
}

.main-header__main-logo:hover,
.main-header__main-logo:focus {
  background-color: #ca2c37;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}

.main-header__main-logo:active {
  background-color: #ba2732;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}

.main-header__search-form {
  position: relative;
}

.main-header__label {
  position: absolute;
  top: 12px;
  left: 16px;
  width: 17px;
  height: 17px;
  transition-duration: 0.3s;
}

.main-header__label > svg {
  opacity: 0.3;
}

.main-header__input {
  padding: 0 10px 0 49px;
  width: 270px;
  min-height: 42px;
  line-height: 42px;
  background-color: #293449;
  border: none;
  transition-duration: 0.3s;
  outline: none;
}

.main-header__input:-ms-input-placeholder {
  color: #ffffff;
}

.main-header__input::placeholder {
  font-family: inherit;
  font-size: 17px;
  line-height: 42px;
  color: #ffffff;
}

.main-header__input:hover {
  background-color: #212a3a;
}

.main-header__input:hover + .main-header__label > svg {
  opacity: 1;
}

.main-header__input:focus,
.main-header__input:active {
  background-color: #ffffff;
}

.main-header__input:focus + .main-header__label > svg,
.main-header__input:active + .main-header__label > svg {
  opacity: 1;
  fill: #ee3643;
  transition-duration: 0.3s;
}

.main-header__input:focus::placeholder,
.main-header__input:active::placeholder {
  color: #000000;
}

/* Убираем крестик у поля поиска*/
.main-header__input::-webkit-search-decoration,
.main-header__input::-webkit-search-cancel-button,
.main-header__input::-webkit-search-results-button,
.main-header__input::-webkit-search-results-decoration {
  display: none;
}

.main-header__menu-list {
  display: flex;
  margin: 0 0 0 auto;
  padding: 0;
  list-style: none;
}

.main-header__menu-item {
  position: relative;
}

.main-header__menu-item a {
  display: block;
  padding: 12px 3px 12px 48px;
  width: 150px;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  transition-duration: 0.3s;
  outline: none;
}

.main-header__menu-item:first-child a {
  padding: 12px 3px 12px 46px;
}

.main-header__menu-item--order a {
  padding: 12px 5px 12px 5px;
  text-align: center;
}

.main-header__menu-item:first-child a::after {
  position: absolute;
  content: '';
  top: 12px;
  left: 16px;
  width: 14px;
  height: 16px;
  background-image: url("../img/svg/icon-bookmark.svg");
  transition-duration: 0.3s;
  opacity: 0.3;
}

.main-header__menu-item:nth-child(2) a::after {
  position: absolute;
  content: '';
  top: 12px;
  left: 18px;
  width: 15px;
  height: 15px;
  background-image: url("../img/svg/icon-cart.svg");
  transition-duration: 0.3s;
  opacity: 0.3;
}

.main-header__menu-item--catalog a {
  background-color: #ee3643;
}

.main-header__menu-item a:hover,
.main-header__menu-item a:focus {
  background-color: #212a3a;
}

.main-header__menu-item a:hover::after,
.main-header__menu-item a:focus::after {
  opacity: 1;
}

.main-header__menu-item a:active {
  color: #ffffff;
  opacity: 0.6;
  background-color: #161d29;
}

.main-header__menu-item a:active::after {
  opacity: 0.5;
}

.main-header__menu-item--order a {
  background-color: #63a63e;
  transition-duration: 0.3s;
  outline: none;
}

.main-header__menu-item--order a:hover,
.main-header__menu-item--order a:focus {
  background-color: #5fbb2d;
}

.main-header__menu-item--order a:active {
  color: #ffffff;
  opacity: 0.5;
  background-color: #518534;
}

.main-header__info {
  display: flex;
  justify-content: space-between;
  padding: 46px 0 35px 0;
}

.main-header__info-description {
  margin: 0;
  padding: 3px 0 0 53px;
  width: 250px;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  color: #ee3643;
}

.main-header__address-list {
  margin: 0 0 0 2px;
}

.main-header__address-list--catalog {
  margin: 0 0 0 20px;
}

.main-header__address-item,
.main-header__address-item p {
  margin: 0;
}

.main-header__address-item--tel {
  position: relative;
  padding: 10px 48px 7px 68px;
  width: 270px;
  text-align: center;
  border: 3px solid #ffffff;
}

.main-header__address-item--tel a {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
}

.main-header__address-item--tel::after {
  position: absolute;
  content: '';
  top: 10px;
  left: 12px;
  width: 19px;
  height: 19px;
  background-image: url("../img/svg/icon-phone.svg");
}

.main-header__address-item p {
  padding: 4px 6px;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #32425c;
}

.main-header__user-menu {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 280px;
  list-style: none;
}

.main-header__user-menu--catalog {
  width: 299px;
  justify-content: flex-start;
}

.main-header__user-menu-item a,
.main-header__enter-button {
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  border: none;
  transition-duration: 0.3s;
  outline: none;
}

.main-header__enter-button {
  padding: 12px 27px 12px 46px;
  cursor: pointer;
}

.main-header__enter-button--catalog {
  width: 299px;
  text-align: left;
}

.main-header__icon-login {
  position: absolute;
  top: 14px;
  left: 14px;
  width: 20px;
  height: 17px;
}

.main-header__icon-login--catalog {
  left: auto;
  right: 11px;
}

.main-header__icon-login--user {
  width: 20px;
  height: 18px;
}

.main-header__user-menu-item a {
  display: block;
  padding: 12px 24px;
  cursor: pointer;
}

.main-header__enter-button:hover,
.main-header__enter-button:focus,
.main-header__user-menu-item a:hover,
.main-header__user-menu-item a:focus {
  color: #ee3643;
}

.main-header__enter-button:hover ~ .main-header__icon-login svg,
.main-header__enter-button:focus ~ .main-header__icon-login svg {
  fill: #32425c;
  transition-duration: 0.3s;
}

.main-header__enter-button:active,
.main-header__user-menu-item a:active {
  color: #000000;
  opacity: 0.3;
}

.main-header__enter-button:active ~ .main-header__icon-login svg {
  fill: #c5c5c5;
  transition-duration: 0.3s;
}

.main-header__user-menu-item--catalog a {
  padding: 8px 16px 6px 16px;
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
  background-color: #f1f5f7;
}

.main-header__user-menu-item--catalog:last-of-type a {
  position: relative;
}

.main-header__user-menu-item--catalog:last-of-type a::after {
  content: '';
  position: absolute;
  top: 15px;
  left: 1px;
  width: 4px;
  height: 4px;
  background-color: #32425c;
  border-radius: 50%;
}

.main-header__user-menu-item--catalog button:hover,
.main-header__user-menu-item--catalog button:focus {
  color: #000000;
}

.main-header__user-menu-item--catalog button:active {
  color: #000000;
  opacity: 0.3;
}

.main-header__user-menu-item--catalog a:hover,
.main-header__user-menu-item--catalog a:focus {
  color: #ee3643;
}

.main-header__user-menu-item--catalog a:active {
  color: #32425c;
  opacity: 0.3;
}

/* main-nav */

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0 22px;
  list-style: none;
  background-color: #32425c;
  box-shadow: inset 0 -5px 0 #293449;
}

.main-nav__item {
  flex-grow: 1;
}

.main-nav__item a {
  display: flex;
  padding: 21px 30px;
  font-size: 17px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  transition-duration: 0.3s;
  outline: none;
}

.main-nav__item a:hover,
.main-nav__item a:focus {
  background-color: #293449;
}

.main-nav__item a:active {
  background-color: #1d2739;
  box-shadow: inset 0 -5px 0 #1d2739;
}

/* offers */

.offers {
  padding: 61px 0 32px 0;
}

.offers__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.offers__wrapper-left {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 620px;
}

.offers__wrapper-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.offers__item {
  position: relative;
  margin: 0 0 20px 0;
  padding: 21px 23px;
  width: 300px;
  overflow: hidden;
}

.offers__item p {
  margin: 0 0 12px 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #ffffff;
}

.offers__item--materials {
  background-color: #ffbf47;
}

.offers__item--materials::before {
  position: absolute;
  content: '';
  top: 32px;
  right: 43px;
  width: 44px;
  height: 65px;
  background-image: url("../img/svg/icon-1.svg");
}

.offers__item--tool {
  background-color: #3bbce3;
}

.offers__item--tool::before {
  position: absolute;
  content: '';
  top: 34px;
  right: 28px;
  width: 75px;
  height: 61px;
  background-image: url("../img/svg/icon-2.svg");
}

.offers__item--tech {
  background-color: #dc91d8;
}

.offers__item--tech::before {
  position: absolute;
  content: '';
  top: 31px;
  right: 31px;
  width: 78px;
  height: 62px;
  background-image: url("../img/svg/icon-3.svg");
}

.offers__item--discount {
  background-color: #8ed78f;
}

.offers__item--discount::before {
  position: absolute;
  content: '';
  top: 26px;
  right: 45px;
  width: 59px;
  height: 72px;
  background-image: url("../img/svg/icon-4.svg");
}

.offers__item--delivery {
  background-color: #ffc047;
}

.offers__item--delivery::before {
  position: absolute;
  content: '';
  top: 32px;
  right: 31px;
  width: 78px;
  height: 63px;
  background-image: url("../img/svg/icon-5.svg");
}

.offers__link {
  display: block;
  padding: 11px 5px 10px;
  width: 135px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  border: none;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.1);
  outline: none;
  transition-duration: 0.3s;
}

.offers__link:hover,
.offers__link:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.offers__link:active {
  background-color: rgba(0, 0, 0, 0.3);
}

/* slider */

.slider {
  position: relative;
  padding: 0;
  width: 620px;
  min-height: 266px;
}

.slider h2 {
  margin: 0 0 2px 0;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
}

.slider p {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
}

.slider__item {
  display: none;
  padding: 22px 25px;
  min-height: 266px;
}

.slider__item--active {
  display: block;
}

.slider__wrapper {
  position: absolute;
  bottom: 32px;
  left: 290px;
  z-index: 10;
}

.slider__left {
  background-color: #e0cfbb;
  background-image: url("../img/backgrounds/slider_one.jpg");
  background-repeat: no-repeat;
}

.slider__right {
  background-color: #433a38;
  background-image: url("../img/backgrounds/slider_two.jpg");
  background-repeat: no-repeat;
}

.slider__link {
  display: inline-block;
  margin: 121px 66px 0 0;
  padding: 10px 7px 10px 12px;
  width: 195px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  outline: none;
  transition-duration: 0.3s;
}

.slider__arrow {
  position: absolute;
  width: 62px;
  height: 82px;
  background-color: rgba(88, 78, 68, 0);
  background-repeat: no-repeat;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  outline: none;
  transition-duration: 0.3s;
}

.slider__arrow--left {
  top: 92px;
  left: 5px;
  background-image: url("../img/svg/icon-left.svg");
  background-position: 50% 50%;
}

.slider__arrow--right {
  top: 92px;
  right: 5px;
  background-image: url("../img/svg/icon-right.svg");
  background-position: 63% 50%;
}

.slider__arrow:hover,
.slider__arrow:focus {
  background-color: rgba(88, 78, 68, 0.7);
}

.slider__dot {
  width: 18px;
  height: 19px;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition-duration: 0.3s;
  outline: none;
}

.slider__dot:hover,
.slider__dot:focus {
  background-color: rgba(255, 255, 255, 1);
}

.slider__span {
  margin: auto;
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50%;
}

.slider__span--active {
  background-color: #ee3643;
}

/* top-goods */

.top-goods__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 20px 0;
  list-style: none;
}

.top-goods__header,
.top-manufacturers__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 24px 25px 28px;
  background-color: #f9f5f0;
}

/* top-manufacturers */

.top-manufacturers__header {
  padding: 26px 24px 25px 28px;
}

.top-goods__header h2,
.top-manufacturers__header h2 {
  margin: 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
}

.top-goods__header a,
.top-manufacturers__header a {
  padding: 10px;
  width: 253px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  transition-duration: 0.3s;
  outline: none;
}

.slider__link:hover,
.slider__link:focus,
.top-goods__header a:hover,
.top-goods__header a:focus,
.top-manufacturers__header a:hover,
.top-manufacturers__header a:focus {
  background-color: #ca2c37;
}

.slider__link:active,
.top-goods__header a:active,
.top-manufacturers__header a:active {
  background-color: #ba2732;
}

.top-manufacturers__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 22px 0 65px;
  list-style: none;
}

.top-manufacturers__item a {
  display: flex;
  margin: 0 0 20px 0;
  padding: 2px 5px 5px 5px;
  width: 220px;
  height: 145px;
  justify-content: center;
  align-items: center;
  border: 1px solid #eaeaea;
  transition-duration: 0.3s;
}

.top-manufacturers__item:nth-child(4) a {
  padding: 3px 5px 18px 5px;
}

.top-manufacturers__item:nth-child(5) a {
  padding: 5px 1px 5px 5px;
}

.top-manufacturers__item:nth-child(8) a {
  padding: 0 0 7px 5px;
}

.top-manufacturers__item a:hover,
.top-manufacturers__item a:focus {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.top-manufacturers__item a:active {
  box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
  opacity: 0.3;
}

/* info-block */

.info-block {
  padding: 63px 0 0 0;
  background-color: #f4f8f9;
}

.info-block__header {
  width: 400px;
}

.info-block__header h2 {
  margin: 0 0 27px 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.info-block__header p,
.info-block__description p {
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.info-clock__content {
  display: flex;
}

.info-block__list {
  position: relative;
  margin: 0;
  padding: 70px 0 100px 0;
  list-style: none;
}

.info-block__list::after {
  position: absolute;
  content: '';
  top: 26px;
  right: 0;
  width: 10px;
  height: 279px;
  background-image: url("../img/backgrounds/shadow.png");
}

.info-block__button {
  padding: 15px 22px 16px 22px;
  width: 240px;
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  color: #ffffff;
  background-color: #32425c;
  box-shadow: 0 1px 0 #293449, inset 0 1px 0 #405069;
  border: none;
  transition-duration: 0.3s;
  outline: none;
}

.info-block__button:hover {
  color: #ffffff;
  background-color: #293449;
}

.info-block__button:focus,
.info-block__button--active {
  color: #32425c;
  background-color: #ffffff;
  box-shadow: 0 1px 0 #ffffff, inset 0 1px 0 #ffffff;
}

.info-block__description {
  display: none;
  flex-grow: 1;
  padding: 68px 0 100px 80px;
}

.info-block__description h2 {
  margin: 0 0 25px 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-transform: uppercase;
  color: #32425c;
}

.info-block__description--warranty h2 {
  font-style: italic;
}

.info-block__link {
  margin: 30px 0 0 0;
  padding: 10px;
  display: block;
  width: 195px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  background-color: #ff5357;
  transition-duration: 0.3s;
  outline: none;
}

.info-block__link:hover,
.info-block__link:focus {
  background-color: #ca2c37;
}

.info-block__link:active {
  background-color: #ba2732;
}

.info-block__description--delivery {
  background-image: url("../img/backgrounds/car.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

.info-block__description--warranty {
  background-image: url("../img/backgrounds/guaranty.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

.info-block__description--credit {
  background-image: url("../img/backgrounds/credit.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

.info-block__description--delivery p {
  width: 280px;
}

.info-block__description--warranty p {
  width: 380px;
}

.info-block__description--credit p {
  width: 380px;
}

.about-block {
  display: flex;
  padding: 80px 0 86px 0;
}

.about-block__company {
  padding: 0 100px 0 0;
}

/* about-block */

.about-block__img {
  margin: 7px 0 0 0;
  cursor: pointer;
}

.about-block__company h2,
.about-block__contact h2 {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.about-block__company p,
.about-block__contact p {
  margin: 25px 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
}

.about-block__company p:last-of-type {
  margin: 25px 0 17px 0;
}

.about-block__list {
  margin: 0;
  padding: 3px 0 0 35px;
  list-style: none;
}

.about-block__link {
  display: block;
  margin: 36px 0 0 0;
  padding: 10px 7px 10px 10px;
  width: 220px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  transition-duration: 0.3s;
  outline: none;
}

.about-block__contact .about-block__link {
  margin: 34px 0 0 0;
  padding: 10px 5px 10px 10px;
  width: 100%;
}

.about-block__item {
  position: relative;
  margin: 0 0 20px 0;
}

.about-block__item::after {
  position: absolute;
  content: '';
  width: 25px;
  height: 2px;
  top: 9px;
  left: -34px;
  background-color: #ee3643;
}

.about-block__link:hover,
.about-block__link:focus {
  background-color: #ca2c37;
}

.about-block__link:active {
  background-color: #ba2732;
}

/* bread-crumbs */

.bread-crumbs {
  padding: 18px 25px 18px 0;
}

.bread-crumbs__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.bread-crumbs__item a {
  position: relative;
  margin: 0 41px 0 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #32425c;
  text-transform: uppercase;
}

.bread-crumbs__item:not(:first-child) a::before {
  position: absolute;
  content: '';
  width: 8px;
  height: 12px;
  top: 3px;
  left: -25px;
  background-image: url("../img/svg/icon-right-small.svg");
  background-repeat: no-repeat;
}

.bread-crumbs__item:first-child a {
  margin: 0 35px 0 0;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../img/svg/icon-home.svg");
  background-repeat: no-repeat;
  background-position: -2px 7px;
}

/* main */

.main__title {
  margin: 0 auto 20px;
  padding: 30px 28px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #32425c;
  text-transform: uppercase;
  background-color: #f2f6f8;
}

.main__wrapper {
  display: flex;
  justify-content: space-between;
}

/* form */

.form {
  width: 220px;
}

.form__price {
  display: flex;
  justify-content: space-between;
}

.form__title {
  margin: 0;
  padding: 8px 19px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #f7f3ec;
}

.form__price input {
  padding: 10px 10px 10px 15px;
  width: 95px;
  text-align: center;
  border-radius: 2px;
}

.form__toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 9px 0;
  padding: 20px 20px;
  width: 220px;
  height: 80px;
  background-color: #f7f3ec;
  border-radius: 2px;
}

.form__slide-wrapper {
  margin: 2px 0 0 0;
  width: 180px;
  height: 2px;
  background-color: #d7dcde;
}

.form__slide {
  position: relative;
  width: 152px;
  height: 2px;
  background-color: #00ca74;
}

.form__slide-button {
  position: absolute;
  width: 20px;
  height: 22px;
  background-color: transparent;
  background-image: url("../img/svg/filter-button.svg");
  border: none;
  cursor: pointer;
}

.form__slide-button--right {
  position: absolute;
  top: -8px;
  right: -8px;
}

.form__slide-button--left {
  position: absolute;
  top: -8px;
  left: 0;
}

.form__price input {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #f7f3ec;
  border: none;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form__fieldset--toggle {
  padding: 0 0 25px 0;
  border-bottom: 1px solid #e5e5e5;
}

.form__fieldset legend {
  padding: 13px 0 13px 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.form__fieldset--manufacturers {
  border-bottom: 1px solid #e5e5e5;
}

.form__fieldset--manufacturers legend {
  padding: 16px 0 14px 0;
}

.form__fieldset--power legend {
  padding: 19px 0 14px 0;
  letter-spacing: 0.8px;
}

.form__item label {
  display: inline-block;
  margin: 0 0 20px 0;
}

.form__fieldset label {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  text-transform: uppercase;
}

.form__list {
  margin: 0;
  padding: 0 0 0 35px;
  list-style: none;
}

.form__button {
  margin: 60px 0 0 0;
  padding: 9px 10px;
  width: 140px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  transition-duration: 0.3s;
  cursor: pointer;
}

.form__button:hover,
.form__button:focus {
  font-weight: 700;
  background-color: #e5e5e5;
}

.form__label {
  position: relative;
  cursor: pointer;
}

.form__label--manufacturers::after {
  content: "";
  position: absolute;
  top: -1px;
  left: -35px;
  width: 27px;
  height: 23px;
  background-image: url("../img/svg/checkbox-off.svg");
  background-repeat: no-repeat;
  transition-duration: 0.22s;
  opacity: 0.6;
}

.form__checkbox:checked + .form__label--manufacturers::after {
  background-image: url("../img/svg/checkbox-on.svg");
}

.form__checkbox:disabled:checked + .form__label--manufacturers::after,
.form__checkbox:disabled + .form__label--manufacturers::after {
  opacity: 0.3;
}

.form__checkbox:hover + .form__label--manufacturers::after,
.form__checkbox:focus + .form__label--manufacturers::after {
  opacity: 1.2;
}

.form__label--radio::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -36px;
  width: 25px;
  height: 25px;
  background-image: url("../img/svg/radio-off.svg");
  background-repeat: no-repeat;
  transition-duration: 0.22s;
  opacity: 0.6;
}

.form__radio:checked + .form__label--radio::after {
  background-image: url("../img/svg/radio-on.svg");
}

.form__radio:disabled:checked + .form__label--radio::after,
.form__radio:disabled + .form__label--radio::after {
  opacity: 0.3;
}

.form__radio:hover + .form__label--radio::after,
.form__radio:focus + .form__label--radio::after {
  opacity: 1.2;
}

/* catalog */

.catalog {
  width: 700px;
}

.catalog__header {
  margin: 0 0 21px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f3ec;
}

.catalog__header p {
  margin: 0;
  padding: 8px 19px;
  width: 120px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.catalog__header-list {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog__header-item a {
  margin: 0 0 0 65px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  opacity: 0.3;
  transition-duration: 0.3s;
  outline: none;
  border-bottom: 1px dotted #ee3643;
}

.catalog__header-item:nth-child(2) a {
  margin: 0 0 0 72px;
}

.catalog__header-item a:hover,
.catalog__header-item a:focus {
  color: #000000;
  opacity: 1;
  border-bottom: 1px solid #000000;
}

.catalog__header-item--active a,
.catalog__header-item a:active {
  color: #ee3643;
  opacity: 1;
  border: none;
}

.catalog__header-arrows {
  padding: 0 4px 0 34px;
  display: flex;
  align-items: center;
}

.catalog__arrow {
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
}

.catalog__arrow svg {
  transition-duration: 0.3s;
  outline: none;
}

.catalog__arrow:hover svg,
.catalog__arrow:focus svg {
  fill: #000000;
}

.catalog__arrow:active svg,
.catalog__arrow--active svg {
  fill: #ee3643;
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog__item {
  margin: 0 0 19px 0;
}

/* product-cart */

.product-cart {
  padding: 0 0 19px 0;
  position: relative;
  width: 220px;
  text-align: center;
  border: 1px solid #e5e5e5;
  transition-duration: 0.3s;
  overflow: hidden;
}

.product-cart__overflow {
  margin: 0 0 10px 0;
  display: flex;
  width: 436px;
  transform: translateX(-218px);
}

.product-cart img {
  width: 218px;
  height: auto;
}

.product-cart__image {
  display: block;
  transform: translateX(0%);
  transition: transform 0.3s linear;
  transition-delay: 0.3s;
}

.product-cart__popup-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*Высоту не задаем, но в данном случае нужно, что бы
   высота попапа равнялась высоте фотографии*/
  padding: 45px 42px;
  width: 218px;
  height: 170px;
  transform: translateX(0%);
  transition: transform 0.3s linear;
  transition-delay: 0.3s;
}

.product-cart:hover {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.product-cart:hover .product-cart__popup-block {
  transform: translateX(100%);
}

.product-cart:hover .product-cart__image {
  transform: translateX(100%);
}

.product-cart__button--buy {
  position: relative;
  margin: 0 0 7px 0;
  padding: 10px;
  width: 135px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #63a63e;
  box-shadow: inset 0 -3px 0 #367315;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition-duration: 0.3s;
  outline: none;
}

.product-cart__button--buy::after {
  position: absolute;
  content: '';
  top: 10px;
  left: 12px;
  width: 15px;
  height: 15px;
  background-image: url("../img/svg/icon-cart.svg");
  transition-duration: 0.3s;
  opacity: 0.3;
}

.product-cart__button--buy:hover,
.product-cart__button--buy:focus {
  background-color: #5fbb2d;
}

.product-cart__button--buy:hover::after,
.product-cart__button--buy:focus::after {
  opacity: 1;
}

.product-cart__button--buy:active {
  background-color: #518534;
  box-shadow: inset 0 -3px 0 #518534;
}

.product-cart__button--basket {
  padding: 7px;
  width: 135px;
  font-size: 14px;
  line-height: 18px;
  color: #32425c;
  text-transform: uppercase;
  text-align: center;
  background-color: #ffffff;
  border: 3px solid #63a63e;
  border-radius: 2px;
  cursor: pointer;
  transition-duration: 0.3s;
  outline: none;
}

.product-cart__button--basket:hover,
.product-cart__button--basket:focus,
.product-cart__button--basket:active {
  border-color: #32425c;
}

.product-cart__button--basket:active {
  opacity: 0.3;
}

.product-cart__title {
  margin: 0 0 40px 0;
  padding: 0 28px 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}

.product-cart--discount .product-cart__title {
  margin: 0 0 11px 0;
}

.product-cart__price {
  margin: 0 36px 0 41px;
  padding: 10px 20px 10px 14px;
  width: 141px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  background-image: url("../img/backgrounds/price_bg.png");
  background-repeat: no-repeat;
}

.product-cart__price--discount {
  margin: 0 auto 10px;
  padding: 0 10px 0 10px;
  width: 141px;

  color: #999999;
  text-decoration: line-through;
  background-color: #ffffff;
  background-image: none;
}

.product-cart__new,
.offers__new {
  position: absolute;
  top: 7px;
  right: -30px;
  width: 100px;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  background-color: #ee3643;
  transform: rotate(45deg);
  z-index: 2;
}

/* pagination */

.pagination {
  padding: 33px 0 60px;
}

.pagination__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination__link {
  display: block;
  margin: 0 10px 0 0;
  padding: 9px 10px;
  min-width: 38px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  transition-duration: 0.3s;
  outline: none;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
}

.pagination__link--next {
  padding: 9px 31px;
}

.pagination__link--active {
  color: #ffffff;
  background-color: #ee3643;
  border-color: #ee3643;
}

.pagination__link:hover,
.pagination__link:focus {
  border-color: #bdc6ca;
}

.pagination__link--active,
.pagination__link:active {
  border-color: #ee3643;
}

/* goods-info */

.goods-info {
  background-color: #f2f6f8;
}

.goods-info__wrapper {
  padding: 65px 0 67px;
}

.goods-info__title {
  margin: 0 0 26px 0;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 0.18px;
  text-transform: uppercase;
}

.goods-info__caption {
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.17px;
}

/* main-footer */
.main-footer__info {
  background-color: #32425c;
}

.main-footer__info .main-footer__wrapper {
  padding: 0 0 50px 0;
}

.main-footer__logo {
  margin: 0;
  width: 220px;
  height: 68px;
  text-align: center;
  background-color: #ee3643;
  background-image: url("../img/svg/logo-technomart.svg");
  background-repeat: no-repeat;
  background-position: 50% 44%;
  background-size: 138px 23px;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}

.main-footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-footer__list {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin: 0;
  padding: 36px 0 0 0;
  width: 615px;
  list-style: none;
}

.main-footer__list--yellow {
  padding: 27px 0 0 0;
}

.main-footer__address-list {
  margin: 27px 0 0 0;
  padding: 0 0 0 4px;
}

.main-footer__address-list p,
.main-footer__address-list dd {
  margin: 0;
}

.main-footer__item a {
  margin: 0 0 0 59px;
  padding: 5px 0;
  line-height: 24px;
  color: #f1f5f7;
  transition-duration: 0.3s;
  outline: none;
}

.main-footer__item--yellow a {
  color: #ffd180;
}

.main-footer__item a:hover,
.main-footer__item a:focus {
  text-decoration: underline;
}

.main-footer__item a:active {
  opacity: 0.5;
  text-decoration: none;
}

.main-footer__address-item a,
.main-footer__address-item p {
  line-height: 24px;
  color: #f3f7f9;
}

.main-footer__feedback {
  background-color: #293449;
}

.main-footer__feedback-description {
  margin: 0;
  padding: 38px 0;
  width: 255px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.main-footer__mail-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 13px 35px 0;
  width: 299px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.main-footer__mail-wrapper p {
  margin: 0;
}

.main-footer__mail-wrapper span {
  display: block;
}


.main-footer__mail-wrapper a {
  display: block;
  color: #ffd180;
  transition-duration: 0.3s;
  outline: none;
}

.main-footer__mail-wrapper a:hover,
.main-footer__mail-wrapper a:focus {
  text-decoration: underline;
}

.main-footer__mail-wrapper a:active {
  color: #ee3643;
  text-decoration: none;
}

/* social-list */

.social-list {
  display: flex;
  align-items: center;
  margin: 0 0 0 20px;
  padding: 0;
  list-style: none;
}

.social-list__item a {
  display: flex;
  margin: 0 3px 0 0;
  width: 42px;
  height: 42px;
  justify-content: center;
  align-items: center;
  background-color: #212a3a;
  border-radius: 50%;
  transition-duration: 0.3s;
  outline: none;
}

.social-list__item a:hover,
.social-list__item a:focus,
.social-list__item a:active {
  background-color: #ee3643;
}

/* map-popup */

.map-popup {
  position: fixed;
  left: 50%;
  bottom: 370px;
  width: 940px;
  height: 446px;
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
  transform: translateX(-50%);
  z-index: 10;
}

.map-popup__wrapper {
  position: relative;
  line-height: 0;
  background-color: #eeeae3;
}

.map-popup__close {
  position: absolute;
  top: 9px;
  right: 9px;
  width: 21px;
  height: 21px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.map-popup__close::before {
  position: absolute;
  content: '';
  top: 9px;
  left: -2px;
  width: 24px;
  height: 4px;
  background-color: #ee3643;
  transform: rotate(-45deg);
}

.map-popup__close::after {
  position: absolute;
  content: '';
  top: 9px;
  left: -2px;
  width: 24px;
  height: 4px;
  background-color: #ee3643;
  transform: rotate(45deg);
}

/* write-us-popup */

.write-us-popup {
  display: none;
  position: fixed;
  left: 50%;
  bottom: 200px;
  padding: 7px 0 0 0;
  width: 620px;
  background-color: #ff5357;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
  transform: translateX(-50%);
  animation: popup-show 0.6s linear;
  z-index: 11;
}

.write-us-popup__form {
  position: relative;
}

.write-us-popup__fieldset {
  margin: 0;
  padding: 45px 80px 37px;
  border: none;
  background-color: #ffffff;
}

.write-us-popup__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.write-us-popup__item {
  display: flex;
  flex-direction: column;
}

.write-us-popup__item:last-of-type {
  width: 100%;
}

.write-us-popup__item label {
  margin: 0 0 10px 0;
}

.write-us-popup__item input {
  margin: 0 0 22px 0;
  padding: 7px 16px;
  width: 220px;
  border: 2px solid #dee3e4;
  outline: none;
}

.write-us-popup__item textarea {
  padding: 10px 16px;
  resize: none;
  border: 2px solid #dee3e4;
  outline: none;
}

.write-us-popup__item input:hover,
.write-us-popup__item input:focus,
.write-us-popup__item textarea:hover,
.write-us-popup__item textarea:focus {
  border: 2px solid #111111;
}

.write-us-popup__item input:-ms-input-placeholder,
.write-us-popup__item textarea:-ms-input-placeholder {
  /* для IE11 */
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #a9a9a9;
}

.write-us-popup__item input::placeholder,
.write-us-popup__item textarea::placeholder {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #a9a9a9;
}

.write-us-popup__close,
.basket-popup__close {
  position: absolute;
  top: 9px;
  right: 9px;
  width: 21px;
  height: 21px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition-duration: 0.3s;
  outline: none;
}

.write-us-popup__close::before,
.basket-popup__close::before {
  position: absolute;
  content: '';
  top: 9px;
  left: -2px;
  width: 24px;
  height: 4px;
  background-color: #ee3643;
  transform: rotate(-45deg);
}

.write-us-popup__close::after,
.basket-popup__close::after {
  position: absolute;
  content: '';
  top: 9px;
  left: -2px;
  width: 24px;
  height: 4px;
  background-color: #ee3643;
  transform: rotate(45deg);
}

.write-us-popup__close:hover,
.basket-popup__close:hover,
.write-us-popup__close:focus,
.basket-popup__close:focus {
  transform: scale(1.2);
}

.write-us-popup__container {
  padding: 37px 80px;
  background-color: #f4f4f4;
}

.write-us-popup__submit {
  padding: 10px 15px;
  width: 100%;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  cursor: pointer;
  transition-duration: 0.3s;
  outline: none;
}

.write-us-popup__submit:hover,
.write-us-popup__submit:focus {
  background-color: #ca2c37;
}

.write-us-popup__submit:active {
  background-color: #ba2732;
}

@keyframes popup-show {
  0% {
    bottom: -1000px;
  }

  70% {
    bottom: 100px;
  }

  90% {
    bottom: 300px;
  }

  100% {
    bottom: 200px;
  }
}

@keyframes error {
  0%,
  100% {
    transform: translateX(-50%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-55%);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(-45%);
  }
}

/* basket-popup */

.basket-popup {
  display: none;
  position: fixed;
  left: 50%;
  top: 400px;
  padding: 7px 0 0 0;
  width: 620px;
  background-color: #ff5357;
  box-shadow: 0 20px 40px rgba(41, 52, 73, 0.75);
  transform: translateX(-50%);
  z-index: 12;
}

.basket-popup__header {
  padding: 68px 125px 65px 179px;
  position: relative;
  background-color: #ffffff;
}

.basket-popup__header p {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
}

.basket-popup__header p:before {
  position: absolute;
  content: '';
  top: 48px;
  left: 81px;
  width: 66px;
  height: 66px;
  background-image: url("../img/svg/icon-mark.svg");
}

.basket-popup__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 37px 80px;
  background-color: #f1f1f1;
}

.basket-popup__submit {
  display: block;
  padding: 10px 15px;
  width: 220px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  cursor: pointer;
  transition-duration: 0.3s;
  outline: none;
}

.basket-popup__submit:hover,
.basket-popup__submit:focus {
  background-color: #ca2c37;
}

.basket-popup__submit:active {
  background-color: #ba2732;
}

.basket-popup__continue {
  padding: 10px 15px;
  width: 220px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
  border: none;
  border-radius: 2px;
  transition-duration: 0.3s;
  outline: none;
  cursor: pointer;
}

.basket-popup__continue:hover,
.basket-popup__continue:focus {
  padding: 8px 15px;
  color: #ee3643;
  border: 2px solid #ee3643;
}

.basket-popup__continue:active {
  padding: 8px 15px;
  color: #ba2732;
  border: 2px solid #ba2732;
}

/* JS */

.invisible {
  display: none;
}

.show-popup {
  display: block;
}

.popup-error {
  animation: error 0.4s ease-in-out;
}

.info-block__description--active {
  display: block;
}
