@font-face {
  font-family: "Cuprum";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/cuprum.woff2") format("woff2"),
  url("../fonts/cuprum.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("../fonts/cuprumitalic.woff2") format("woff2"),
  url("../fonts/cuprumitalic.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/cuprumbold.woff2") format("woff2"),
  url("../fonts/cuprumbold.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url("../fonts/cuprumbolditalic.woff2") format("woff2"),
  url("../fonts/cuprumbolditalic.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsans.woff2") format("woff2"),
  url("../fonts/ptsans.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
  url("../fonts/ptsansbold.woff") format("woff");
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.invisible {
  display: none;
}

.container {
  margin: 0 auto;
  width: 940px;
}

.button {
  color: #ffffff;
  text-transform: uppercase;
  background-color: #ee3643;
  border: none;
  border-radius: 2px;
}

.main-header {
  background-color: #f3f7f9;
}

.main-header__top-menu {
  background-color: #293449;
}

.main-header__main-logo {
  background-color: #ee3643;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  transition-duration: 0.3s;
  cursor: pointer;
  outline: none;
}

.main-header__main-logo:hover,
.main-header__main-logo:focus {
  background-color: #ca2c37;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}

.main-header__main-logo:active {
  background-color: #ba2732;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}

.main-header__input {
  background-color: #293449;
  border: none;
  transition-duration: 0.3s;
  outline: none;
}

/* Убираем крестик у поля поиска*/
.main-header__input::-webkit-search-decoration,
.main-header__input::-webkit-search-cancel-button,
.main-header__input::-webkit-search-results-button,
.main-header__input::-webkit-search-results-decoration {
  display: none;
}

.main-header__input::placeholder {
  font-family: inherit;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

.main-header__input:hover {
  background-color: #212a3a;
}

.main-header__input:focus,
.main-header__input:active {
  background-color: #ffffff;
}

.main-header__input:focus::placeholder,
.main-header__input:active::placeholder {
  color: #000000;
}

.main-header__menu-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-header__menu-item a {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  transition-duration: 0.3s;
  outline: none;
}

.main-header__menu-item--catalog a {
  background-color: #ee3643;
}

.main-header__menu-item a:hover,
.main-header__menu-item a:focus {
  background-color: #212a3a;
}

.main-header__menu-item a:active {
  color: #ffffff;
  opacity: 0.6;
  background-color: #161d29;
}

.main-header__menu-item--order a {
  background-color: #63a63e;
  transition-duration: 0.3s;
  outline: none;
}

.main-header__menu-item--order a:hover,
.main-header__menu-item--order a:focus {
  background-color: #5fbb2d;
}

.main-header__menu-item--order a:active {
  color: #ffffff;
  opacity: 0.5;
  background-color: #518534;
}

.main-header__info-description {
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  color: #ee3643;
}

.main-header__address-item--tel {
  border: 3px solid #ffffff;
}

.main-header__address-item--tel a {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
}

.main-header__address-item p {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.main-header__user-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-header__user-menu-item a,
.main-header__user-menu-item button {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  border: none;
  transition-duration: 0.3s;
  outline: none;
}

.main-header__user-menu-item button {
  cursor: pointer;
}

.main-header__user-menu-item button:hover,
.main-header__user-menu-item button:focus,
.main-header__user-menu-item a:hover,
.main-header__user-menu-item a:focus {
  color: #ee3643;
}

.main-header__user-menu-item button:active,
.main-header__user-menu-item a:active {
  color: #000000;
  opacity: 0.3;
}

.main-header__user-menu-item--catalog a {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
  background-color: #f1f5f7;
}

.main-header__user-menu-item--catalog button:hover,
.main-header__user-menu-item--catalog button:focus {
  color: #000000;
}

.main-header__user-menu-item--catalog button:active {
  color: #000000;
  opacity: 0.3;
}

.main-header__user-menu-item--catalog a:hover,
.main-header__user-menu-item--catalog a:focus {
  color: #ee3643;
}

.main-header__user-menu-item--catalog a:active {
  color: #32425c;
  opacity: 0.3;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item a {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  background-color: #32425c;
  box-shadow: inset 0 -5px 0 #293449;
  transition-duration: 0.3s;
  outline: none;
}

.main-nav__item a:hover,
.main-nav__item a:focus {
  background-color: #293449;
}

.main-nav__item a:active {
  background-color: #1d2739;
  box-shadow: inset 0 -5px 0 #1d2739;
}

.offers__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.offers__item p {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #ffffff;
}

.offers__item--materials {
  background-color: #ffbf47;
}

.offers__item--tool {
  background-color: #3bbce3;
}

.offers__item--tech {
  background-color: #dc91d8;
}

.offers__item--discount {
  background-color: #8ed78f;
}

.offers__item--delivery {
  background-color: #ffc047;
}

.offers__link {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.1);
  outline: none;
  transition-duration: 0.3s;
}

.offers__link:hover,
.offers__link:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.offers__link:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.slider h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
}

.slider p {
  line-height: 24px;
  color: #ffffff;
}

.slider__link {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  outline: none;
  transition-duration: 0.3s;
}

.slider .slider__left {
  background-color: #e0cfbb;
  background-image: url("../img/backgrounds/slider_one.jpg");
  background-repeat: no-repeat;
}

.slider__right {
  background-color: #433a38;
  background-image: url("../img/backgrounds/slider_two.jpg");
  background-repeat: no-repeat;
}

.top-goods__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.top-goods__header,
.top-manufacturers__header {
  background-color: #f9f5f0;
}

.top-goods__header h2,
.top-manufacturers__header h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
}

.top-goods__header a,
.top-manufacturers__header a {
  font-size: 14px;
  line-height: 18px;
  transition-duration: 0.3s;
  outline: none;
}

.slider__link:hover,
.slider__link:focus,
.top-goods__header a:hover,
.top-goods__header a:focus,
.top-manufacturers__header a:hover,
.top-manufacturers__header a:focus {
  background-color: #ca2c37;
}

.slider__link:active,
.top-goods__header a:active,
.top-manufacturers__header a:active {
  background-color: #ba2732;
}

.top-manufacturers__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.top-manufacturers__item a {
  border: 1px solid #eaeaea;
  transition-duration: 0.3s;
}

.top-manufacturers__item a:hover,
.top-manufacturers__item a:focus {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.top-manufacturers__item a:active {
  box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
  opacity: 0.3;
}

.info-block {
  background-color: #f4f8f9;
}

.info-block__header h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.info-block__header p,
.info-block__description p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.info-block__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.info-block__button {
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  color: #ffffff;
  background-color: #32425c;
  box-shadow: 0 1px 0 #293449, inset 0 1px 0 #405069;
  border: none;
  transition-duration: 0.3s;
  outline: none;
}

.info-block__button:hover,
.info-block__button:focus {
  background-color: #293449;
}

.info-block__button:active {
  color: #32425c;
  background-color: #ffffff;
  box-shadow: 0 1px 0 #ffffff, inset 0 1px 0 #ffffff;
}

.info-block__description h2 {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: #32425c;
}

.info-block__description--warranty h2 {
  font-style: italic;
}

.info-block__link {
  font-size: 14px;
  line-height: 18px;
  background-color: #ff5357;
  transition-duration: 0.3s;
  outline: none;
}

.info-block__link:hover,
.info-block__link:focus {
  background-color: #ca2c37;
}

.info-block__link:active {
  background-color: #ba2732;
}

.info-block__description--delivery {
  background-image: url("../img/backgrounds/car.png");
  background-repeat: no-repeat;
}

.info-block__description--warranty {
  background-image: url("../img/backgrounds/guaranty.png");
  background-repeat: no-repeat;
}

.info-block__description--credit {
  background-image: url("../img/backgrounds/credit.png");
  background-repeat: no-repeat;
}

.about-block__company h2,
.about-block__contact h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.about-block__company p,
.about-block__contact p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
}

.about-block__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.bread-crumbs__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about-block__link {
  transition-duration: 0.3s;
  outline: none;
}

.about-block__link:hover,
.about-block__link:focus {
  background-color: #ca2c37;
}

.about-block__link:active {
  background-color: #ba2732;
}

.bread-crumbs__item a {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-transform: uppercase;
}

.bread-crumbs__item a:first-child {
  background-image: url("../img/svg/icon-home.svg");
  background-repeat: no-repeat;
}

.main__title {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
  background-color: #f2f6f8;
}

.form__fieldset {
  border: none;
}

.form__toggle {
  background-color: #f7f3ec;
}

.form__price input {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #f7f3ec;
  border: none;
}

.form__slide-button {
  width: 20px;
  height: 22px;
  background-color: transparent;
  background-image: url("../img/svg/filter-button.svg");
  border: none;
}

.catalog__header {
  background-color: #f7f3ec;
}

.catalog__header p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.catalog__header-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog__header-item a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  opacity: 0.3;
  transition-duration: 0.3s;
  outline: none;
  border-bottom: 1px dotted #ee3643;
}

.catalog__header-item a:hover,
.catalog__header-item a:focus {
  color: #000000;
  opacity: 1;
  border-bottom: 1px solid #000000;
}

.catalog__header-item--active a,
.catalog__header-item a:active {
  color: #ee3643;
  opacity: 1;
  border: none;
}

.catalog__arrow svg {
  transition-duration: 0.3s;
  outline: none;
}

.catalog__arrow:hover svg,
.catalog__arrow:focus svg {
  fill: #000000;
}

.catalog__arrow:active svg,
.catalog__arrow--active svg {
  fill: #ee3643;
}

.form__title {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #f7f3ec;
}

.form__fieldset legend {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.form__fieldset label {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  text-transform: uppercase;
}

.form__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.form__button {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.product-cart {
  border: 1px solid #e5e5e5;
  transition-duration: 0.3s;
}

.product-cart:hover {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.product-cart__button--buy {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #63a63e;
  box-shadow: inset 0 -3px 0 #367315;
  border: none;
  cursor: pointer;
  transition-duration: 0.3s;
  outline: none;
}

.product-cart__button--buy:hover,
.product-cart__button--buy:focus {
  background-color: #5fbb2d;
}

.product-cart__button--buy:active {
  background-color: #518534;
  box-shadow: inset 0 -3px 0 #518534;
}

.product-cart__button--basket {
  font-size: 14px;
  line-height: 18px;
  color: #32425c;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 3px solid #63a63e;
  cursor: pointer;
  transition-duration: 0.3s;
  outline: none;
}

.product-cart__button--basket:hover,
.product-cart__button--basket:focus,
.product-cart__button--basket:active {
  border-color: #32425c;
}

.product-cart__button--basket:active {
  opacity: 0.3;
}

.product-cart__title {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
}

.product-cart__price {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  /*background-color: #ee3643;*/ /*todo: разобраться с подложкой*/
  background-image: url("../img/backgrounds/price_bg.png");
  background-repeat: no-repeat;
}

.product-cart__price--discount {
  color: #999999;
  text-decoration: line-through;
  background-color: #ffffff;
  background-image: none;
}

.product-cart__new,
.offers__new {
  font-size: 15px;
  line-height: 17px;
  color: #ffffff;
  background-color: #ee3643;
}

.pagination__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination__link {
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  transition-duration: 0.3s;
  outline: none;
  border: 1px solid #e5e5e5;
}

.pagination__link--active {
  color: #ffffff;
  background-color: #ee3643;
  border-color: #ee3643;
}

.pagination__link:hover,
.pagination__link:focus {
  border-color: #bdc6ca;
}

.pagination__link--active,
.pagination__link:active {
  border-color: #ee3643;
}

.goods-info {
  background-color: #f2f6f8;
}

.goods-info__title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.goods-info__caption {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

/*Футер*/

.main-footer__info {
  background-color: #32425c;
}

.main-footer__logo {
  background-color: #ee3643;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}

.main-footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-footer__item a {
  line-height: 24px;
  color: #f1f5f7;
  transition-duration: 0.3s;
  outline: none;
}

.main-footer__item--yellow a {
  color: #ffd180;
}

.main-footer__item a:hover,
.main-footer__item a:focus {
  text-decoration: underline;
}

.main-footer__item a:active {
  opacity: 0.5;
  text-decoration: none;
}

.main-footer__address-item a,
.main-footer__address-item p {
  line-height: 24px;
  color: #f3f7f9;
}

.main-footer__feedback {
  background-color: #293449;
}

.main-footer__feedback-description {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.social-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-list__item a {
  display: flex;
  width: 42px;
  height: 42px;
  justify-content: center;
  align-items: center;
  background-color: #212a3a;
  border-radius: 50%;
  transition-duration: 0.3s;
  outline: none;
}

.social-list__item a:hover,
.social-list__item a:focus,
.social-list__item a:active {
  background-color: #ee3643;
}

.main-footer__mail-wrapper {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.main-footer__mail-wrapper a {
  color: #ffd180;
  transition-duration: 0.3s;
  outline: none;
}

.main-footer__mail-wrapper a:hover,
.main-footer__mail-wrapper a:focus {
  text-decoration: underline;
}

.main-footer__mail-wrapper a:active {
  color: #ee3643;
  text-decoration: none;
}
